<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="An example suite" parallel="classes" thread-count="10">
    <listeners>
        <listener class-name="com.epam.reportportal.testng.ReportPortalTestNGListener"/>
    </listeners>

    <test name="An example test">
        <parameter name="message" value="My great message"/>
        <classes>
            <class name="Test1"/>
        </classes>
    </test>
</suite>
